* {
	margin: 0;
	padding: 0;
	font-size: 0.7rem;
	word-wrap: break-word;
	list-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6,
s,
em,
i,
b,
u {
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #333;
}
span,em,i,p{
	font-size: inherit;
}
textarea {
	resize: none;
	outline: none;
	padding-left: 0.5rem;
}

input {
	border: 1px solid #ccc;
	outline: none;
	padding-left: 0.5rem;
}

button {
	outline: none;
	border: none;
}
img{
	vertical-align: middle;
}
.lf {
	float: left;
}

.rt {
	float: right;
}

.ov {
	overflow: hidden;
}

.clear {
	clear: both;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.imgz {
	width: 100%;
	height: 100%;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}