body {
    background-color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

.weui-tabbar__icon {
    display: inline-block;
//  width: 1.8rem !important;
}

.weui-tabbar {
    position: fixed !important;
    background-color: #fff !important;
     box-shadow: 0 0 26px #E3E3E3;
}
.weui-tabbar:before{
    border-top: none !important;
}
.weui-tabbar__icon img{
    width: 1.8rem;
}
.weui-tabbar__item{
    padding: 0.4rem 0 0 !important;
   

}
//恶心的背景条
.bgg {
    height: 0.5rem;
    background: #f2f2f2;
}
//swiper 滑动小点
.swiper-pagination-bullet-active{
    width: 1rem !important;
    background: #32C4FF !important;
    border-radius: 1rem !important;
}

//vux 时间选择器
.dp-right.vux-datetime-confirm{
    display: none;   
}
.vux-cell-placeholder{
    color: #A0A0A0;
}
.vux-cell-value{
    color: #A0A0A0;
}
.dp-header{
    display: inherit !important;
    .dp-item{
        float: left;
        
    }
    .dp-item.vux-datetime-clear{
        float: right;
        padding-right: 0.75rem;
    }
}
/*头部*/

.header {
//  background: #fff;
    background: -webkit-linear-gradient(left, #31c4ff , #3991f4); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #31c4ff, #3991f4); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #31c4ff, #3991f4); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #31c4ff , #3991f4); /* 标准的语法（必须放在最后） */
    z-index: 999;
    width: 100%;
    position: relative;
    h1 {
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        font-size: 0.9rem;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        width: 60%;
        margin: 0 auto;
    }
    div,
    em {
        height: 100%;
        position: absolute;
        top:0%;
        color:#fff;
        line-height: 2.5rem;
    }
    div{
        padding-left: 0.5rem;
        width: 1.8rem;
    }
    div img {
        
        width: 0.6rem;
    }
    em {
        width: auto;
        right: 0.75rem;
       
        
        
    
    }
}

.b-content{
    padding-top: 2.5rem;
//  padding-bottom: 3.3rem;
}
/*固定 定位  小图标跳转*/

.flexd-go {
    position: fixed;
    bottom: 1.5rem;
    right: 0.75rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
    span {
        display: inline-block;
        width: 1.2rem;
        line-height: 20px;
        margin-top: 0.25rem;
    }
}


/*按钮的初始 样式*/

.btn-init {
    width: 100%;
    display: block;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    background: #F2F2F2;
}


/*互动*/

//组团活动
ul.activitys-ul {
    padding: 0.5rem ;
    li {
        border-radius: 0.5rem;
        margin-bottom: 0.4rem;
        background: #fff;
        >h1 {
            overflow: hidden;
            >span {
                float: left;
            }
            >em {
                float: right;
                >span {
                    color: #f00;
                }
            }
            >p {
                clear: both;
                font-size: 0.6rem;
                color: #999;
                line-height: 1.5rem;
            }
        }
        >h2 {}
        >div.activitys-info>p {
            color: #666;
            font-size: 0.6rem;
            line-height: 1.1rem;
        }
    }
}
//index: 心灵阅读
.swiper-box {
        padding: 0 0.75rem;
    }
    
    
    .time-div>em {
        margin-left: 1.5rem;
        float: right;
        >img{
            width: 0.7rem;
            margin-right: 0.2rem;
        }
    }
    
    .nav-list li {
        overflow: hidden;
        border-bottom: 1px solid #c9c9c9;
        padding: 15px 0;
    }
    
    .nav-list li>div{
        width: 70%;
        font-weight: bold;
        color: #000000;
        line-height: 1rem;
    }
    .nav-list li>div>div{
        -webkit-line-clamp: 2;
        font-size: 0.8rem;
        color: #333;
    }
    .time-div {
        font-size: 0.7rem;
        color: #999;
        font-weight: normal;
        margin-top: 0.6rem;
    }
    
    .nav-list img {
        width: 4rem;
 
    }
    
    .row {
        background: lemonchiffon;
    }

//index3 互动    list
.index3-list{
        padding:0 0.4rem 0;
        overflow: hidden;
        background: #fff;
        margin: 0 0.75rem;
        height: 95%;
    }
    .index3-list li{
        float: left;
        width: 40%;
        text-align: center;
        margin:8% 5% 3%;
    }
    
    .index3-list img{
        width: 6rem;
    }
    .index3-list p{
        margin-top: 15px;
    }
    
//组团活动list
.activitysBar{
        position: absolute;
        /*top: 2.8rem;*/
        left: 0;
        width: 100%;z-index: 8888;
        background: #fff;
    }

    .activitysBar-div{
        border-bottom: 1px solid #C9C9C9;
        overflow: hidden;
        padding: 0.5rem 0;
        >a{
            float: left;
            width: 50%;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
         
        }
        >a:first-child{
            border-right: 1px solid #C9C9C9;
        }
        a.router-link-exact-active.router-link-active>span{
                 display: block;
                height: 0.15rem;
                border-radius: 0.15rem;
                width: 1.6rem;
                background: #3991f4;
                margin: 0.32rem auto 0;
            }
    }
    
//组团活动 所有的    
    
//组团活动  我参与的
    
//组团活动 info   
.activitys-ul li {
        position: relative;
        overflow: hidden;
        >p {
            position: absolute;
            top: 0;
            right: 0;
        }
        .activitys-block {
            color: #333;
        }
        .activitys-info>p {
            line-height: 1.25rem;
        }
    }
    
    .baoming-box {
        padding: 0.75rem;
        >h1 {
            padding: 0.3rem 0;
            font-size: 0.6rem;
            overflow: hidden;
            border-bottom: 1px solid #c9c9c9;
            >span {
                float: left;
            }
            >em {
                float: right;
                >span {
                    color: #f00;
                }
            }
        }
        ul>li{
            border-bottom: 1px solid #C9C9C9;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0.4rem 1.2rem;
            font-size: 0.6rem;
            >em{
                color: #666;
            }
        }
    }    
    
//index4 我的



/*我的资料*/

#backImg {
    position: fixed;
    top: 0.75rem;
    left: 0.75rem;
    width: 0.6rem;
}

.ziliao-box {
    background: #fff;
    .ziliao-div {
        border-bottom: 1px solid #F5F5F5;
        padding-left: 0.75rem;
        overflow: hidden;
        span {
            float: left;
            line-height: 2.5rem;
        }
        input{
            float: right;
            text-align: right;
            height: 2.5rem;
            margin-right: 0.75rem;
            border: none;
            width: 78%;
        }
       
        img{
             float: right;
             width: 2rem;
             height: 2rem;
             border-radius: 50%;
              margin-right: 0.75rem;
              margin-top: 0.25rem;
        }
        .file-div{
            position: relative;
            float: right;
            input{
                width: 2rem;
                height: 2rem;
                position: absolute;
                right: 0;
                opacity: 0;
                margin-top: 0.25rem;
            }
            img{
                position: absolute;
                right: 0;
            }
        }
    }
     .sao-text{
            span{
                display: block;
                float: initial;
            }
            textarea{
                display: block;
                clear: both;
                width:100%;
                margin-top: -10px;
                padding-left: 0;
                padding-right: 0.75rem;
                border: none;
            }
        }
}
/*修改密码*/
.mima-box{
        padding: 0.75rem;
        .mima-div{
            border-radius: 0.25rem;
//          margin-top: 0.75rem;
            padding: 0.35rem 0;
            overflow:hidden;
            border-bottom: 1px solid #EEEEEE;
            span{
                float: left;
                width: 3.8rem;
                line-height: 2rem;
                font-size: 0.65rem;
            }
            img{
                float: left;
                width: 1.2rem;
                margin-top: 0.3rem;
            }
            input{
                float: left;
                width: 77%;
                height: 2rem;
                border: none;
            }
        }
        .yzm-div{
            position: relative;
            >em{
                position: absolute;
                background: #F46464;
                color: #fff;
                top: 50%;
                right: 0.5rem;
                font-size: 0.7rem;
                padding: 0.15rem 0.5rem;
                color: #fff;
                border-radius: 0.3rem;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
    

